!!! 5
%html
  %head
    %title Chitter
  %body
    = haml :'partials/_flash'
    - if current_user
      = partial :'partials/welcome'
      = partial :'partials/log_out'
      = partial :'partials/chit_form'
    - else
      = partial :'partials/sign_up_form'
      = partial :'partials/log_in_form'
      = flash.now[:details_error]
    = yield
